.catalog {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrapper_2{
    overflow-y: scroll;
    width: 100vw;
    padding: 5vw;
    background-color: #C33825;
    background-image: url('images/christmas.jpg');
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
}

.smartsearch input{/* Inspireret af: https://www.w3schools.com/css/tryit.asp?filename=trycss_form_search_anim */
        width: 14rem;
        box-sizing: border-box;
        border: 2px solid rgb(255, 255, 255);
        font-size: 1rem;
        background-color: rgba(195, 55, 37, 0.288);
        background-image: url('images/search2.png');
        background-position: 15px 8px; 
        background-repeat: no-repeat;
        padding: 10px 10px 12px 50px;
        justify-content: center;
        margin-bottom: 0.5em;
}
.bar {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.bar a{
    text-decoration: none;
    color: white;
}
.smartsearch ::placeholder{
    color: rgb(255, 255, 255);
        font-style: italic;
}

@media (min-width: 375px){
    .smartsearch input{
        width: 17rem;
    }

    .bar a{
        font-size: 1.3em;
    }
}

@media (min-width: 414px){
    .smartsearch input{
        width: 19rem;
    }
}

@media (min-width: 768px){
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .products a{
        justify-self: center;
    }

    .smartsearch input{
        width: 39rem;
    }

    .bar a{
        font-size: 2em;
    }
}

@media (min-width: 1024px){
    .products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 

    .smartsearch input{
        width: 53em;
        padding-bottom: 1em;
    }

    .catalog h1{
        font-size: 4em;
    }
}