.catalog {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.wrapper_2{
    overflow-y: scroll;
    width: 100vw;
    padding: 5vw;
    background-color: #C33825;
    background-image: url('images/christmas.jpg');
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
}

.searchbar {        
    width: 18rem;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    font-size: 1em;
    background-color: #9e121283;
    background-image: url('images/search2.png');
    background-position: 1vh 0.8em; 
    background-size: 1.5em;
    background-repeat: no-repeat;
    padding: 16px 20px 16px 40px;
    justify-content: center;
}

form input{
    color: white;
}

form ::placeholder{
    color: white;
}

.bar{
    margin:1em;
}
.bar a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;

}


@media (min-width: 375px){
    .searchbar input{
        width: 17rem;
    }

    .bar a{
        font-size: 1.3em;
    }
}

@media (min-width: 414px){
    .smartsearch input{
        width: 19rem;
    }
}

@media (min-width: 768px){
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .products a{
        justify-self: center;
    }

    .smartsearch input{
        width: 39rem;
    }

    .bar a{
        font-size: 2em;
    }
}

@media (min-width: 1024px){
    .products{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 

    .smartsearch input{
        width: 53em;
        padding-bottom: 1em;
    }

    .catalog h1{
        font-size: 4em;
    }
}