.red_pages {
    background-color: #C33825;
    font-family: 'Open Sans', sans-serif;
}

.red_pages main{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1.5em;
}

.red_pages img{
    margin-top: 4em;
}

.red_pages p{
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.logind{
    border: solid 2px rgb(255, 255, 255);
    margin-left: 20vw;
    margin-right: 20vw;
    padding: 0.6rem;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255); 
    border-radius: 0.1em; 
    text-transform: uppercase;
}

.glemtkode{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}

@media screen and (min-height:667px){
    .red_pages img{
        margin-top: 6em;
    }
}

@media screen and (min-height:812px){
    .red_pages img{
        margin-top: 10em;
    }
}

@media screen and (min-width:1024px){
    .red_pages img{
        margin-left: 6em;
        margin-top: 24em;
    }
   
}

@media screen and (min-width:768px){
    .logind{
        margin-left: 28vw;
        margin-right: 28vw;
        padding: 0.5em;
    }
   
}