/* JULEKALENDER */ 

/* Tilpasset til iPhone 5 - 8 PLUS */

.calendar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 2fr;
    justify-items: center;
    height: 100%;
}

.calendar_wrapper {
    background-color: #781f13;
    background-image: url(images/snowflakes.gif);

}

.calendar_title {
    text-align: center;
    align-self: center;
}

.calendar_text {
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    text-align: center;
    align-self: center;
    color: #ffffff;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.158);
    margin-top: 0.2em;
    background-color: #781f13b0;
}


.laege {

    align-items: center;
}

.calendar img {
    justify-self: right;
    width: 35vw;
    margin-top: 3vh;
}

/* LÅGE SKIFT inspireret af http://jsfiddle.net/8yytW/43/ */

#img-switcher{
    width: 0px;
    height: 0px;
    visibility: hidden;
    position: absolute;
}

#img-switcher + label {
    background-image: url(images/19v6.png);
    width: 65vw;
    height: 65vw;
    display: block;
    background-size: cover;
    border-radius: 0.1em;
    margin-top: 0.9em;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.562);
}

#img-switcher:checked + label {
    background-image: url(images/points.png);
}

/* MEDIA QUERY */

@media (min-width: 700px) {

    .calendar_text {
        font-size: 4.5em;
        margin-bottom: 0.1em;
    }
    
    .calendar_title {
        font-size: 4em;

    } 
    

    #img-switcher + label {
        width: 45vw;
        height: 45vw;
    }

    .calendar img {
        width: 29vw;
    }
}

@media (min-width: 900px) {

    .calendar_text {
        font-size: 6em;
    }

}


