/* JULEKALENDER */ 

/* Tilpasset til iPhone 5 - 8 PLUS */

.calendar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 5fr 2fr;
    justify-items: center;
    height: 100%;
}

.calendar_wrapper {
    background-color: #C33825;
    background-image: linear-gradient(45deg, rgba(204, 58, 67, 0.5) 0%, rgba(204, 58, 67, 0.5) 12.5%,rgba(219, 119, 115, 0.5) 12.5%, rgba(219, 119, 115, 0.5) 25%,rgba(212, 89, 91, 0.5) 25%, rgba(212, 89, 91, 0.5) 37.5%,rgba(241, 211, 187, 0.5) 37.5%, rgba(241, 211, 187, 0.5) 50%,rgba(248, 241, 211, 0.5) 50%, rgba(248, 241, 211, 0.5) 62.5%,rgba(197, 28, 43, 0.5) 62.5%, rgba(197, 28, 43, 0.5) 75%,rgba(233, 180, 163, 0.5) 75%, rgba(233, 180, 163, 0.5) 87.5%,rgba(226, 150, 139, 0.5) 87.5%, rgba(226, 150, 139, 0.5) 100%),linear-gradient(107deg, rgb(43, 118, 146),rgb(251, 28, 35));
}

.calendar_title {
    text-align: center;
    align-self: center;
}

.calendar_text {
    font-family: 'Caveat', cursive;
    font-size: 2.5em;
    text-align: center;
    align-self: center;
    color: #ffffff;
}

.laege {
    margin-top: 5%;
    align-items: center;
}

.calendar img {
    justify-self: right;
    width: 35vw;
    margin-top: 3vh;
}

/* LÅGE SKIFT inspireret af http://jsfiddle.net/8yytW/43/ */

#img-switcher{
    width: 0px;
    height: 0px;
    visibility: hidden;
    position: absolute;
}

#img-switcher + label {
    background-image: url(/images/19v4.png);
    width: 65vw;
    height: 65vw;
    display: block;
    background-size: cover;
}

#img-switcher:checked + label {
    background-image: url(/images/points.png);
}

/* MEDIA QUERY */

@media (min-width: 700px) {

    .calendar_text {
        font-size: 4.5em;
    }
    
    .calendar_title {
        font-size: 4em;
    } 
    
    .laege {
        margin-top: 5%;
    }

    #img-switcher + label {
        width: 45vw;
        height: 45vw;
    }

    .calendar img {
        width: 29vw;
    }
}

@media (min-width: 900px) {

    .calendar_text {
        font-size: 6em;
    }

}

