.kategori{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.icon a img{
    width: 10%;
    margin-left: 0.6em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
}

.wrapper_2{
    overflow-y: scroll;
    width: 100vw;
    padding: 5vw;
    
}
@media (min-width: 768px){
     h1{
        font-size: 4em;
    }
    .products{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .products img{
        justify-self: center;
    }
}
