/* LIST EXAMPLE PAGE */

.back_button {
    width: 2em;
    margin:0.5em;
}
 h1 {
    align-self: center;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    border-bottom: solid rgba(0, 0, 0, 0.562) 1px;
}

.list_example_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
    padding-top: 2vh;
}

.list_example_items input{
    height: 2em;
    margin-left: 2vw;
    margin-right: 2vw;
}
    
.list_example_items img {
    justify-self: center;
}

/* MEDIA QUERY */

@media (min-width: 700px) {

     h1 {
        font-size: 4em;
    }

    .back_button {
        width: 3em;
    }
}