* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #C33825;
}

.br {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    width: 90%;
    margin: 0 auto;
    justify-items: center;
    height: 100vh;
}

.br img {
    justify-self: center;
    max-width: 100%;
    animation: rotation 2s infinite linear;
    align-self: center;
}

@keyframes rotation { /* Inspireret af: https://flaviocopes.com/rotate-image/ */
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}