.red_pages {
    background-color: #C33825;
    font-family: 'Open Sans', sans-serif;
}

.red_pages img{
    width: 10%;
    margin-left: 0.6em;
    margin-top: 0.6em;
}

.red_pages h1{
    color: white;
    text-align: center;
    font-size: 2.7rem;
    margin-top: 1.2em;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.158);
}

.fill form {
    display: block;
    margin-top: 9em;
    margin-left: 2rem;
}

.fill input{
color: rgb(255, 255, 255);
background-color:#C33825 ;
font-family: 'Open Sans', sans-serif;
font-size: 1.2rem;
border: 2px solid white;
width: 90%;
margin-right: 1rem;
box-sizing: border-box;
height: 32px;
margin-bottom: 2rem;
padding: 1.4em;
border-radius: 0.1em;
}

.fill a {
    border: solid 2px rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr;
    margin: 5rem;
    margin-top: 0.3rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 0.1em;
    margin-bottom: 0rem;
}

.fill ::placeholder{
color: white;
}