/* GENERAL STYLES */ 

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, .title {
    font-family: 'Raleway', sans-serif;
    color: #4c4c4c;
    margin-top: 1vh;
    font-size: 2rem;
    text-transform: uppercase;
    align-self: center;
}

h2, h3, p, em {
    font-family: 'Open Sans', sans-serif;
    color: #4c4c4c;
}

.font_white {
    color: #ffffff;
}

img {
    max-width: 100%;
}

.hidden {
    visibility: hidden;
    font-size: 0;
}

/* MENU BARS */

.wrapper /* Sættes på section inden for body, skal ikke inkludere header + footer */ {
    overflow-y: scroll;
    width: 100vw;
    padding: 5vw;
    height: 100vh;
}

.menu_page /* Sættes på body */ {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    height: 100vh;
}

.menu /* Sættes på menuen */ {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-content: center;
    padding: 2vh;
}

.menu_header {
    border-bottom: 1px solid #4A4A4A;
    justify-self: flex-start;
    height: 10vh;
}

.menu_footer {
    border-top: 1px solid #4A4A4A;
    justify-self: flex-end;
}

.menu_icon {
    width: 5vh;
}

/* MEDIA QUERY */

@media (min-width: 700px) {

    .title {
        font-size: 3em;
    }
}

@media (min-width: 900px) {

    .title {
        font-size: 4em;
    }
}


/* Front Page*/
@import "front_page.css";

/* Sign up side Page*/
@import "signup";

/* Log Ind Page*/
@import "logind";

/* Home Page*/
@import "home.css";

/* Catalog Page*/
@import "catalog.css";

/* Profil Page*/
@import "profil.css";

/* Pointsystem Page*/
@import "pointsystem.css";

/* Kurv Page*/
@import "kurv.css";

/* Julekalneder Page*/
@import "julekalender.css";

/* Search_active Page*/
@import "search_active.css";

/* search Page*/
@import "search.css";

/* julekalender Page*/
@import "julekalender.css";

/* kategori Page*/
@import "kategori.css";

/* search Page*/
@import "produkt.css";

/* list_example Page*/
@import "list_example.css";

/* loading Page*/
@import "loading.css";

/* qrscan Page*/
@import "qrscan.css";

/* wishlist Page*/
@import "wishlist_page.css";



