.profil_wrapper{
    height: 100vh;
}

.profil_menu {
    text-align: center;
    justify-content: center;
    font-size: 2em;
}

.profil_menu h2:nth-of-type(1){
    margin-top: 3rem;
}

.profil_menu h2:nth-of-type(3){
    margin-top: 1rem;
}

.profil_menu h2:nth-of-type(5){
    margin-top: 1rem;
}

.profil_menu h2:nth-of-type(6){
    margin-top: 1rem;
}