.red_pages3 {
    background-color: #C33825;
    font-family: 'Open Sans', sans-serif;
}

.red_pages3 main{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5em;
}

.red_pages3 img{
    width: 10%;
    margin-left: 0.6em;
    margin-top: 0.6em;
}

.red_pages3 h1{
    color: white;
    text-align: center;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.158);
    font-size: 2.7rem;
}

.fill{
    display: grid;
    grid-row-gap: 2em;
}

.fill form {
    display: grid;
    text-align: center;
    row-gap: 2em;
    margin-left: 20vw;
    margin-right: 20vw;
}

.fill input{
color: rgb(255, 255, 255);
background-color:#C33825 ;
font-family: 'Open Sans', sans-serif;
font-size: 4vw;
border: 2px solid white;
height: 32px;
padding: 1.4em;
}

.fill a{
    border: solid 2px rgb(255, 255, 255);
    padding: 0.5rem;
    text-align: center;
    font-size: 4vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 0.1em;
    margin-right: 28vw;
    margin-left: 28vw;
}

.fill ::placeholder{
color: white;
}
